/*Fontawesome Iconfont*/
@import url(http://thecodeplayer.com/uploads/fonts/font-awesome-4.0.1/css/font-awesome.min.css);
/*Montserrat, Open Sans*/
@import url(http://fonts.googleapis.com/css?family=Montserrat|Open+Sans:400,300);

* {margin: 0; padding: 0;}
body {
    background: rgba(255, 255, 255, 0);
    padding-top: 50px;
}


.starter-template {
    padding: 40px 15px;
    text-align: center;
}

#wrapper {width: 645px; height: 500px; margin: 35px auto 0 auto;}
h1 {
    color: white; font: 300 40px 'Open Sans';
    width: 300px; padding: 30px; float: left;
}

canvas {
    border:2px solid rgb(0, 0, 0);
}

#Menu {
    padding-top: 5%;
    list-style: none;
    color: white;
    padding-right: 27%;
}

#canvasContainer {
    position: relative;
    height: 510px;
}

#painter {
    position: absolute;
}

#tempPainter {
    position: absolute;
}

#clearBtn {
    position: relative;
    clear: both;
}

.paintList {
    list-style-type: none;
    text-align: center;
}

.paintList li {
    display: inline;
}
