* {margin: 0; padding: 0;}
body {
    background: rgba(255, 255, 255, 0);
    padding-top: 50px;
}


.starter-template {
    padding: 40px 15px;
    text-align: center;
}

#wrapper {width: 645px; height: 500px; margin: 35px auto 0 auto;}
h1 {
    color: white; font: 300 40px 'Open Sans';
    width: 300px; padding: 30px; float: left;
}

canvas {
    border:2px solid rgb(0, 0, 0);
}

#Menu {
    padding-top: 5%;
    padding-left: 2%;
    list-style: none;
    color: white;
}

.canvasContainer {
    position: relative;
    height: 510px;
    width: 525px;
    float: left;
}

#painter {
    position: absolute;
}

#tempPainter {
    position: absolute;
}
.rightList {
    float: left;
}
#clearBtn {
    position: relative;
    margin-top: 97%;
}

.paintList li {
    display: inline;
    text-align: center;
}
#Menu li {
    margin-right: 3%;
}
li {
    list-style-type: none;
}
.toolButton {
    box-shadow: 6px 6px 13px #888888;
}
.rightList button {
    width: 100px;
    text-align: left;
    margin-bottom: 10px;
    box-shadow: 6px 6px 13px #888888;
}
#hexColorButton {
    background-color: #f1f1f1;
    height: 46px;
    width: 100px;
    margin-bottom: 2%;
    border-radius: 10px;
    box-shadow: 6px 6px 13px #888888;
}
#hexColorInput {
    opacity: 0;
    display: block;
    border: none;
    width: 100px;
    height: 46px;
}
.fontThings {
    margin-bottom: 10px;
    width: 100px;
    height: 35px;
    background: whitesmoke;
    border-radius: 10px;
    box-shadow: 6px 6px 13px #888888;
}
.selected {
    background: rgba(74, 75, 73, 0.100);
}

.modal-footer button {
    margin-right: 10px;
}
#lineW {
    width: 77%;
    margin-bottom: 5%;
}
#fontSize {
    width: 77%;
    margin-bottom: 5%;
}
.fontSelect {
    margin-left: 1%;
}
